<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Full list of products</title>
  <style>
    img {
      width: 20%;
      height: auto;
    }
    body {
      height: 100vh;
      width: 100%;
      background: rgb(199,195,184);
      background: linear-gradient(180deg, rgba(199,195,184,1) 22%, rgba(68,143,182,1) 94%);
    }
  </style>
</head>
<body>
<tbody>
{{ range . }}
  <form action="/addCpuToCart" method="post">
    <button type="submit" name="cartCpu" value="{{.ID}}">Add to Cart</button>
  </form>
  <tr>
    <td>{{ .Manufacturer }}</td>
    <td>{{ .Model  }}</td>
    <td>{{ .Cores   }}</td>
    <td>{{ .Threads    }}</td>
    <td>
      {{range .ClockFrequency}}
        <li>{{.}} GHz</li>
      {{end}}
    </td>
    <td>{{ .Socket    }}</td>
    <td>{{ .Ram.Channels    }}</td>
    <td>{{ .Ram.Type  }}</td>
    <td>{{ .Ram.MaxFrequency }}</td>
    <td>{{ .Ram.MaxCapacity }}</td>
    <td>{{ .Tdp   }}</td>
    <td>{{ .PciE  }}</td>
  </tr>

<form action="/comparisonCpuMb" method="post">
  <button type="submit" name="mb" value="{{.Socket}}">Motherboard</button>
</form>
<form action="/comparisonCpuRam" method="post">
  <button type="submit" name="ram" value="{{.Ram.Type}}">RAM</button>
</form>
<form action="/comparisonCpuCooling" method="post">
  <button type="submit" name="cooling" value="{{.Tdp}}">Cooling</button>
</form>

{{ end }}

</tbody>
</body>
</html>
