<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Full list of products</title>
  <style>
    img {
      width: 20%;
      height: auto;
    }
    body {
      height: 100vh;
      width: 100%;
      background: rgb(199,195,184);
      background: linear-gradient(180deg, rgba(199,195,184,1) 22%, rgba(68,143,182,1) 94%);
    }
  </style>
</head>
<body>
<tbody>
{{ range . }}
  <tr>
    <td>{{ .Manufacturer }}</td>
    <td>{{ .Model  }}</td>
    <td>{{ .FormFactor   }}</td>
    <td>{{.DriveBays.D35}}</td>
    <td>{{.DriveBays.D25}}</td>
    <td>{{ .MbFormFactor  }}</td>
    <td>{{ .PsFormFactor }}</td>
    <td>{{ .ExpansionSlots }}</td>
    <td>{{ .GraphicCardSize  }}</td>
    <td>{{ .CoolerHeight   }}</td>
    {{ range .Size }}
      <li>{{.}} mm</li>
    {{ end }}
    <td>{{ .Weight  }} kg</td>
  </tr>

  <form action="/comparisonHousingMb" method="post">
    <button type="submit" name="mb" value="{{.MbFormFactor}}">Motherboard</button>
  </form>
  <form action="/comparisonHousingPower" method="post">
    <button type="submit" name="power" value="{{.PsFormFactor}}">Power supply</button>
  </form>
  <form action="/comparisonHousingGpu" method="post">
    <button type="submit" name="gpu" value="{{.ExpansionSlots}}">GPU</button>
  </form>
  <form action="/comparisonHousingCooling" method="post">
    <button type="submit" name="cooling" value="{{index .Size 0}}">Cooling</button>
  </form>
{{ end }}

<img src="/images" alt="Image from MongoDB">




</tbody>
</body>
</html>